{% extends "base.html" %}

{% block content %}
  {% for post in posts %}
    {% if post.post_type == 'message_post' %}
      <div class="container-md">
        <div class="media content-section">
          <div class="d-flex align-items-center post-info">
            <img class="rounded-circle post-profile-pic mr-3" src="{{ url_for('static', filename='profile_pics/' + post.user.image_file) }}">
            <h1 class="mr-2">{{ post.user.username }}</h1>
          </div>
          <div class="media-body">
            <p class="message-post-content">{{ post.message }}</p>
            <small class="text-muted"><a href="{{ url_for('post', post_id=post.id) }}">view comments</a></small><br>
            {% set user_has_liked = post.id in liked_post_ids %}
            <form action="{{ url_for('like_post', post_id=post.id) }}" method="POST">
              {% if user_has_liked %}
                <button class="btn btn-secondary btn-sm" type="submit">Unlike</button>
              {% else %}
                <button class="btn btn-secondary btn-sm" type="submit">Like</button>
              {% endif %}
            </form>
            <small class="text-muted">{{ len(post.likes) }} likes</small><br>
            <small class="text-muted">{{ post.date_posted.strftime("%H:%M %d/%m/%Y") }}</small>
          </div>
        </div><br>
      </div>
    {% elif post.post_type == 'image_post' %}
      <div class="container-md">
        <div class="media content-section">
          <div class="d-flex align-items-center post-info">
            <img class="rounded-circle post-profile-pic mr-3" src="{{ url_for('static', filename='profile_pics/' + post.user.image_file) }}">
            <h1 class="mr-2">{{ post.user.username }}</h1>
          </div>
          <div class="media-body">
            <img class="post-image" src="{{ url_for('static', filename='post_images/' + post.image_file) }}">
            <p class="message-post-content">{{ post.caption }}</p>
            <small class="text-muted"><a href="{{ url_for('post', post_id=post.id) }}">view comments</a></small><br>
            {% set user_has_liked = post.id in liked_post_ids %}
            <form action="{{ url_for('like_post', post_id=post.id) }}" method="POST">
              {% if user_has_liked %}
                <button class="btn btn-secondary btn-sm" type="submit">Unlike</button>
              {% else %}
                <button class="btn btn-secondary btn-sm" type="submit">Like</button>
              {% endif %}
            </form>
            <small class="text-muted">{{ len(post.likes) }} likes</small><br>
            <small class="text-muted">{{ post.date_posted.strftime("%H:%M %d/%m/%Y") }}</small>
          </div>
        </div><br>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}